.sidebar {
    background-color: #AB55E1;
    width: 200px;
    height: 600px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;  
    text-align: center;
  }
  
  .sbr-boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .sbr-box{
    width: 150px;
    height: 80px;
    background-color:#B46BE1;
  }